body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0;
  margin: 0;
}

main {
  min-height: 100vh;
}

.logo {
  padding: 15px 20px 15px 3vw;
}

.logo img {
  height: 33px;
}

.img-principal {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.img-fondo {
  background-position: 50%;
  background-size: cover;
  bottom: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .4s cubic-bezier(.665, .235, .265, .8) 0s;
  width: 100%;
}

.img-fondo .img-layer {
  z-index: 5;
}

/*background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);*/


header .leftSide {
  display: flex;
  width: 60%;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header nav a {
  text-decoration: none;
  color: white;
  padding: 15px 10px;
  font-weight: 500;
  font-size: 0.8vw;
}

main {
  background-color: #000;
  height: 56.25vw;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.principal-background {
  background: linear-gradient(77deg, rgba(0, 0, 0, .6), transparent 85%);
  bottom: 0;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 26.09%;
  top: 0;
  transition: opacity .5s;
}
